@import "https://fonts.googleapis.com/css?family=Open+Sans:400,600,700";

.oi {
    font-size: 20px;
}

img.emoji {
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 .1em;
    vertical-align: -0.1em;
}

.iphone-frame-text {
    font-family: 'Open Sans';
    color: #2095FE;
}


.message {
    font-family: 'Open Sans';
    background-color: #e6e7ed;
    border-radius: 20px 20px 20px 20px;
    padding: 15px 20px;
    margin: auto;
    display: inline-block;
    position: relative;
}
.message:after {
    content: '';
    position: absolute;
    left: 8px;
    top: 80%;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: #e6e7ed;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -20px;
}

.typing-indicator {
    background-color: #e6e7ed;
    will-change: transform;
    width: auto;
    border-radius: 50px;
    padding: 20px;
    margin-left: 10px;
    display: table;
    position: relative;
    animation: 2s bulge infinite ease-out;
}
.typing-indicator::before, .typing-indicator::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #e6e7ed;
}
.typing-indicator::after {
    height: 10px;
    width: 10px;
    left: -10px;
    bottom: -10px;
}
.typing-indicator span {
    height: 15px;
    width: 15px;
    float: left;
    margin: 0 1px;
    background-color: #9e9ea1;
    display: block;
    border-radius: 50%;
    opacity: 0.4;
}
.typing-indicator span:nth-of-type(1) {
    animation: 1s blink infinite 0.3333s;
}
.typing-indicator span:nth-of-type(2) {
    animation: 1s blink infinite 0.6666s;
}
.typing-indicator span:nth-of-type(3) {
    animation: 1s blink infinite 0.9999s;
}
@keyframes blink {
    50% {
        opacity: 1;
    }
}
@keyframes bulge {
    50% {
        transform: scale(1.05);
    }
}